{% extends 'base.html.twig' %}

{% block nav_home %} active {% endblock %}

{% block stylesheets %} 

{% endblock %}



{% block body %}
<h1  >Bienvenue dans la Vidéothèque</h1>

<hr>

<br>

<div>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
Placeat itaque expedita facilis vitae quibusdam id porro, animi 
illum voluptates debitis vel numquam repellat ad modi dolores dolorem!
 Velit, nesciunt praesentium. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium repellendus laboriosam, accusamus quas iure impedit atque maiores facilis vero 
 harum ipsum laborum debitis possimus velit odit! Illo recusandae ad consequuntur.
 </p>
</div>
{% endblock %}

