{% extends 'base.html.twig' %}

{% block nav_series %} active {% endblock %}

{% block body %}
<h1>Les séries</h1>
<hr>

<ul>
    {% for serie in series %}
        <li>
            {{ serie.title }}
            <br>
            <img src="{{ path('poster_get', {'id': serie.id}) }}">
        </li>
    {% else %}
        <span>No records found</span>
    {% endfor %}
</ul>
{% endblock %}